.employee-list ul {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-auto-rows: 1fr;
	gap: 1em;
	margin-bottom: 1em;
}

@media only screen and (min-width: 576px) {
	.employee-list ul {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media only screen and (min-width: 768px) {
	.employee-list ul {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media only screen and (min-width: 992px) {
	.employee-list ul {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}
